#header{padding-top:40px;padding-bottom:15px;margin:0 auto}
/*#header{margin:0 auto;padding:20 0}*/
@media screen and (min-width:769px){#header{width:718px}}
@media screen and (min-width:991px){#header{width:860px}}
@media screen and (min-width:1201px){#header{width:960px}}


#main{margin:0 auto}
@media screen and (min-width:1201px){#main{width:960px}}
@media screen and (min-width:769px){#main{width:718px}
@media screen and (min-width:991px){#main{width:860px}}


.summary{margin:6px 0 0;color:#999;font-size:14px;line-height:1.6em;width:90%;cursor:pointer}
.topicTitle{font-size:16px;line-height:1.56em;color:#545454;font-weight:500;margin-top:15px;width:90%;cursor:pointer;position:relative}